.posts {

  .post {

    padding: 2rem;

    &-top {
      display: flex;
      margin-bottom: 1rem;

      h6 {
        padding: 0.4rem 0.8rem;
        border-radius: 10px;
        margin-right: 0.5rem;
      }

      .new {
        background-color: $primary-color;
        color: $light-color;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
    }
  }
}