@media (max-width: 576px) {
  .navbar {
    display: block;
    text-align: center;
    
    h1 {
      font-size: 1.5rem;
      margin: 0 0 1rem;
    }

    ul {
      justify-content: space-between;
    }
  }

  .landing-inner p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 1200px) {
  .navbar {
    display: block;
    text-align: center;

    h1 {
      margin: 0 0 1rem;
    }

    ul {
      justify-content: space-evenly;
    }
  }
}