.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px $primary-color solid;
  opacity: 0.9;

  ul {
    display: flex;
  }

  li a {
    color: $light-color;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}