.profiles {

  .profile {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 2rem;
    padding: 1rem;
    line-height: 2rem;

    &-text {
      display: grid;
      grid-template-columns: 4fr 2fr;
    }

    h2 {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 2rem;
    }

    #skills {
      margin-top: 3rem;
    }

    small p {
      margin-bottom: -0.25rem;
    }

    a {
      margin-top: 2rem;
    }
  }
}