.profile-grid {
  display: grid;
  grid-template-areas: 
  'left about about'
  'left exp exp';
  

  .profile-left {
    grid-area: left;
    width: 330px;

    img {
      margin-bottom: 1.5rem;
    }

    h1 {
      line-height: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .lead {
      margin-bottom: 1rem;
    }

    .message {
      display: flex;
      align-items: center;
      margin-top: 5rem;

      a {
        color: $light-color;
      }

      i.fas {
        margin-left: 2rem;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .profile-about {
    grid-area: about;
    width: 850px;

    .text-primary {
      margin-top: -0.5rem;
    }
    
    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: -1rem;

      i.fas {
        color: $primary-color;
      }
    }
  }
  .profile-exp {
    grid-area: exp;
    padding: 1rem 2rem;

    .experience {
      margin-top: 1rem;
    }
  }
}