* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $light-color;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}