.inner-pages {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  margin-top: 8rem;

  a {
    margin-left: 5px;
    font-weight: bold;

    &:hover {
      color: darken($color: $primary-color, $amount: 10%);
    }
  }
}

.inner-pages-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-width;
  margin: auto;
  padding: 3rem 2rem 3rem;
  margin-top: 5rem;

  a {
    margin-left: 5px;
    font-weight: bold;

    &:hover {
      opacity: 0.9;
    }
  }
}

.inner-pages-profile {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  margin-top: 6rem;

  a {
    margin-left: 5px;
    font-weight: bold;

    &:hover {
      color: darken($color: $primary-color, $amount: 10%);
    }
  }
}

.line {
  border-bottom: 1px dotted $primary-color;
  margin: 1rem 0;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-light-darken-5 {
    @include set-background(darken($light-color, 5%));
  }
  &-light-darken-10 {
    @include set-background(darken($light-color, 10%));
    
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
  }
}

// Text-styles
.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 3rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-primary {
  color: $primary-color;
}

// Buttons
.btn {
  display: inline-block;
  background-color: $light-color;
  color: $dark-color;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-right: 2.5rem;
  outline: none;

  &-profile {
    position: absolute;
    top: 90px;
    left: 10px;
  }

  &:hover {
    opacity: 0.5;
    font-weight: bold;
  }

  &-primary {
    background-color: $primary-color;
    color: $dark-color;
  }

  &-secondary {
    border: 1px $dark-color solid;
  }
}

// Alerts
.alert {
  padding: 0.5rem 0;
  margin: 2rem 0;
  opacity: 0.9;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  background-color: $light-color;
  color: $dark-color;

  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: $dark-color, $alpha: 0.5);
}