.inner-pages {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  margin-top: 8rem;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
  }
}

// Text-styles
.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-primary {
  color: $primary-color;
}

// Buttons
.btn {
  display: inline-block;
  background-color: $light-color;
  color: $dark-color;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-right: 2.5rem;
  outline: none;

  &:hover {
    opacity: 0.5;
    font-weight: bold;
  }

  &-primary {
    background-color: $primary-color;
    color: $light-color;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: $dark-color, $alpha: 0.5);
}